/* styles.css */
body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 2px 5px 25px -3px rgba(0,0,0,0.75);
}

button {
  font-weight: 800;
  height: 4em;
  width: 8em;
  margin: 20px;
  border-radius: 50px;
  border: 3px solid rgb(36, 36, 36);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  
}

button:hover {
  color: white;
  background-color: black;
  box-shadow: 2px 8px 12px -3px rgba(0,0,0,0.75);
  scale: 1.1;
}

button:active {
  scale: 1;
  transition: 0.1s;
}

img {
  max-width: 100%;
  height: auto;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}