/* styles.css */
body {
  background-color: rgb(55, 97, 141);
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(45, 67, 105);
  border: none;
  box-shadow: 2px 5px 25px -3px rgba(0, 0, 0, 0.75);
  color: white;
}

#content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display {
  margin-top: 0px;
}

label {
  font-weight: 600;
  font-size: 20px;
  color: white;
}

input {
  border: none;
  border-radius: 10px;
  height: 25px;
}

#subm {
  border: none;
  border-radius: 10px;
  background-color: white;
  font-weight: 600;
  height: 30px;
  width: 70px;
  cursor: pointer;
}

h1,
h2,
h3 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
